@import "tailwindcss";

@theme inline {
  --color-primary-dark: #1a1a1a;
  --color-primary-color: #f47a20;
  --font-mulish: "Mulish";
  --font-playfair: "Playfair Display", serif;
}

.scroll-down .navbar {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .navbar {
  /* filter: drop-shadow(0 -10px 20px rgb(170, 170, 170)); */
  /* background: red; */
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: calc(100% / (var(--ratio)));
}

.video-one {
  --ratio: 1920/1080;
}

body {
  /* font-family: "Montserrat", sans-serif; */
}
