@import "tailwindcss";

@theme inline {
  --color-primary-dark: #1a1a1a;
  --color-primary-color: #f47a20;
  --font-mulish: "Mulish";
  --font-playfair: "Playfair Display", serif;
}

.scroll-down .navbar {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .navbar {
  /* filter: drop-shadow(0 -10px 20px rgb(170, 170, 170)); */
  /* background: red; */
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: calc(100% / (var(--ratio)));
}

.video-one {
  --ratio: 1920/1080;
}

.marquee-wrapper {
  overflow: hidden;
  width: 100%;
}
.marquee-inner {
  display: flex;
}
.marquee-inner .ratio {
  flex-shrink: 0;
  margin-right: 30px;
  /* width: clamp(300px, 20vw, 500px); */
  object-fit: cover;
  overflow: hidden;
}
.marquee-inner .ratio img {
  object-fit: cover;
  transition: all 0.5s;
}
.marquee-inner .ratio:hover img {
  -webkit-transform: scale(1.1) rotate(3deg);
  transform: scale(1.1) rotate(3deg);
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
